.header {
  width: 100%;
  background-color: black;
  margin: 0 auto;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-6);
}

@media (max-width: 1024px) {
  .header_container {
    padding: 0 var(--space-4);
  }
}

@media (max-width: 640px) {
  .header_container {
    padding: var(--space-2) var(--space-3);
  }
}
