.header {
  width: 100%;
  background-color: black;
  margin: 0 auto;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  padding: 0 80px 0 60px;
}

@media (max-width: 640px) {
  .header {
    padding: 24px 16px 8px;
  }
}
