:root {
  --color-border-light: #c0c0c0;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ----共通するフォントサイズ------------------------------------------------------------ */

html {
  font-size: 100%; /*すべてのフォントサイズを16px基準*/
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Old Mincho", serif;
}

a {
  color: inherit; /*親要素の色を継承する*/
  text-decoration: none; /*テキストの装飾線をなくす*/
}

ol,
ul {
  list-style: none;
}
