/*----LP section -------------------------------*/
.LP {
  position: relative; /*親要素に設定すると、この親要素に対してposition:absoluteを設定した要素の位置を指定できます*/
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff; /*LP要素内のテキストを白*/
  overflow: hidden; /*要素からはみ出すコンテンツを隠す。LP内の子要素がサイズを超えていたらはみ出した部分を非表示にする*/
  padding: 180px 0; /*LP要素内の内側の余白を設定divタグを中心に余白を作っている*/
  display: flex; /*フレックスボックスレイアウトを使って、子要素の配置や整列、サイズの制御を柔軟に行うため*/
  justify-content: center; /**/
  align-items: center;
  text-align: center; /*子要素を水平方向に中央寄せ 子要素一つずつにtext-alignを指定するとlinkタグが中央寄せされない*/
}

.LP_background_img {
  position: absolute; /*親要素を基準に絶対は位置を意味する*/
  top: -10; /*topが0なので親要素の上端にピッタリくっついては位置されます*/
  right: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.LP_title {
  font-size: 4rem;
  font-weight: 400;
}
.LP_description {
  font-size: 1.875rem; /*30px*/
  font-weight: 400;
  margin-bottom: 40px;
}

.moreinfo {
  padding: 17px 30px; /*オレンジボタンの*/
  background: #da9168;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.0625rem;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  transition-duration: 0.2s;
  justify-content: center;
}

.moreinfo:hover {
  background: #b98a6e;
}
/*---Main section -------------------------------*/
main section:not(.LP) {
  margin-top: 100px; /*MainタグのSectionタグを100pxずつ間隔を開ける*/
}

.main_sections_title {
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 400;
}

.main_section_container {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.hr {
  border: solid 2px #2cb67d;
  margin-bottom: 16px;
  width: 48px;
}

/*------Introduction section -------------------------------*/

.Intro_description {
  font-size: 1.55rem;
  line-height: 2.8rem;
  letter-spacing: 0.14em;
}

/*-------Output section -------------------------------*/
.Output_article {
  margin-bottom: 45px;
  background-color: rgb(241, 240, 240);
  padding-top: 15px;
  padding-bottom: 45px;
}

.Output_section_container {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.Output_category {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  background-color: #ffffff;
  width: 32%;
  padding: 20px;
  margin-bottom: 30px;
}

.category_title {
  font-size: 1.55rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.Output_description {
  font-size: 1.05rem;
  line-height: 1.5;
}

.icon {
  display: block;
  min-width: 45px;
  height: 45px;
  align-items: center;
  text-align: left;
}

/*-------News section -------------------------------*/
